default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: username
  password: 'password'

development:
  <<: *default
  database: king_of_mountain_development
  host: localhost

test:
  <<: *default
  database: king_of_mountain_test

production:
  <<: *default
  database: king_of_mountain_production
  username: king_of_mountain
  password: <%= ENV['KING_OF_MOUNTAIN_DATABASE_PASSWORD'] %>
