p
  | Приветствую #{@resource.email}!
p Кто-то запросил изменение Вашего пароля. Вы можете это сделать по ссылке ниже.
p= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
p Если это были не Вы, пожалуйста, проигнорируйте это письмо.
p Ваш пароль не будет изменен, до тех пор, пока Вы не перейдете по ссылке выше и не создадите новый.
