p
  | Приветствую #{@resource.email}!
p Ваш аккаунт был заблокирован из-за чрезмерного количества неудачных попыток входа.
p Перейдите по ссылке ниже, чтобы разблокировать Ваш аккаунт.
p= link_to 'Разблокировать мой аккаунт', unlock_url(@resource, unlock_token: @token)
